html {
    overflow-x: hidden;
}

body {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1.1rem;
    background-image: url(img/tab8.jpg);
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: "Oswald", sans-serif;
}

.text-black {
    color: #000;
}

.header-top>.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-top .quick-contact-icons .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: #1089ff;
}

.myclor {
    background: #b30083 important!;
}

.header-top .quick-contact-icons .icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 22px;
    line-height: 0;
    color: #fff !important;
}

.header-top .quick-contact-icons .text .h4 {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0;
}

.header-top .quick-contact-icons .text .caption-text {
    font-size: 1rem;
}

.navbar {
    z-index: 2;
}

.navbar .navbar-collapse a {
    font-family: "Oswald", sans-serif;
}

.navbar .navbar-collapse .active a {
    text-decoration: underline;
}

.carousel-item img {
    background-size: cover;
}

.footer {
    background-color: #f2f2f2;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.visible-title {
    visibility: visible;
}

#carouselExampleCaptions {
    z-index: 1;
}